.grid-container1 {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: grey;
	padding: 10px;
}
.list1{
	grid-area: header;
}
.list2{
	grid-area: menu;
}
.list3{
	grid-area: main;
}
.list4{
	grid-area: right;
}
.list5{
	grid-area: footer;
}
.grid-container2{
	display: grid;
 	grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  	gap: 10px;
  	background-color: #grey;
  	padding: 10px;
}
.grid-container2 > li {
	text-align: center;
}